In [4]:
import pandas as pd

In [1]:
my_dict = {
    'country':['India', 'USA', 'UK', 'UAE'],
    'capital':['Delhi', 'Washington', 'London', 'Dubai'],
    'population': [150, 30, 10, 5]
}

In [2]:
my_dict

{'country': ['India', 'USA', 'UK', 'UAE'],
 'capital': ['Delhi', 'Washington', 'London', 'Dubai'],
 'population': [150, 30, 10, 5]}

In [5]:
df = pd.DataFrame(my_dict)
df

  country     capital  population
0   India       Delhi         150
1     USA  Washington          30
2      UK      London          10
3     UAE       Dubai           5

In [6]:
df.loc[:, ['capital']]

      capital
0       Delhi
1  Washington
2      London
3       Dubai

In [9]:
df['population'].mean()

48.75

In [12]:
import numpy as np
bmi = np.array([2,4,1,6,8])
bmi[bmi>4]

array([6, 8])